.error-input {
    border-color: red !important;
}

input[type='file'] {
    padding-top: 12px;
    padding-right: 1rem;
}
.form-element-row{
    margin-bottom: 1rem;
}
.Vue-Toastification__toast-body {
    font-family: iranyekan !important;
}

.page-enter-active {
    transition: all 0.3s ease-out;
}

.page-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}



.layout-enter-active {
    transition: all 0.3s ease-out;
}

.layout-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.carousel__viewport {
    border-radius: 15px;
}

.category-slide {
    padding: 0 !important;
    padding-left: 10px !important;
}

.pl-0 {
    padding-left: 0 !important;
}